<!DOCTYPE html>
<html>
    <head>
        <title>수정페이지</title>
    </head>
    <body>
        <h1><%=title %></h1>
        
        <% rowsX.forEach((item)=>{ %>   
            <form action="/edit/<%=item.id%>" method="post">
                id : <input type="text" placeholder="<%=item.id%>" name="id" disabled>
                작성자 : <input type="text" placeholder="<%=item.name%>" name="name" disabled>
                제목: <input type="text" placeholder="<%=item.title%>" name="title">           
                내용 : <input type="text" placeholder="<%=item.content%>" name="content">
                <input type="submit" value="수정">
            </form>
        <%})%>
        
    </body>
</html>